body{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    min-height: 90vh;
}

nav{

    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;   
}
nav ul li{
    text-align: center;
}


.button{
    cursor: pointer;
     --c: #7928CA;
    background-color:#fff;
    font-size: 16px;
    border: 0.1em  solid var(--c);
    border-radius: 0.5em;
    width: 9em;
    height: 3em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    text-decoration: none;
}



h1{
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.06em;
    text-align: center;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -.06em;
    text-align: center;
}

span{
    color: #000;
    display: block;
    line-height: 1;
    padding: 0 12px;
    position: relative;
}

span::before{
    background: linear-gradient(90deg, var(--color-inic), var(--color-fin));
    content: var(--titulo);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animacion 9s infinite;
    animation-delay: var(--delay);
}

form{
    background: #fff;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(255, 255, 255, 0.8);

}
.form{
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 14px;
}
input, textarea{
    background: none;
    color: #000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 80%;
    border: none;
    border-bottom: 1px solid #000;
    resize: none;
}
input:focus, textarea:focus{
    outline:none;
    color:#000;
}
.botonCon{
    cursor: pointer;
    background: #fc5c7d;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
}

div.icono{
    position: absolute;
    top: 0%;
    left: 0%;
}

@keyframes animacion{
    0%, 16.667%, 100%{
        opacity: 1;
    }
    33.334%, 83.334%{
        opacity: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size:3rem; 
    }
    nav ul li{
        display: block;
    }
}

@media (max-width:576px) {
    h1 {
        font-size:2rem; 
    }
    nav ul li{
        display: block;
    }
}